# Contact Developer or use infisicial for keys
OPENAI_API_KEY=
EMAIL_HOST=
EMAIL_USER=
EMAIL_PASSWORD=
RECIPIENT_EMAIL=
BUCKET_NAME=cyodesign
DASHBOARD_AUTH=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_ENDPOINT=
AWS_REGION=